{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="header container">
    <div class="header__inner">
        <div class="header__logo logo">
            <img src="{% static 'images/logo.svg' %}" width="42" height="45" loading="lazy" alt="Logo" class="logo__image">
        </div>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item header__nav--active">
                    <a href="#hero" class="header__nav-link">
                        Главная
                    </a>
                </li>

                <li class="header__nav-item">
                    <a href="#about" class="header__nav-link">
                        О премии
                    </a>
                </li>

                <li class="header__nav-item">
                    <a href="#nomination" class="header__nav-link">
                        Номинации
                    </a>
                </li>

                <li class="header__nav-item">
                    <a href="#winner" class="header__nav-link">
                        Победители
                    </a>
                </li>
            </ul>
        </nav>

        <div class="header__sign">
            <form method="post" class="header__logout" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="button header__sign-up">Выход</button>
            </form>
        </div>
    </div>
</header>
<main class="content">

    <div class="hero container" id="hero">
        <div class="hero__inner">
            <div class="hero__title-wrapper">
                <img src="{% static 'images/hero/FLAY.png' %}" width="1800" height="571" loading="lazy" alt="Statue" class="hero__title">
            </div>
            <img src="{% static 'images/hero/statue.png' %}" width="716" height="1020" loading="lazy" alt="Statue" class="hero__image hidden-mobile">

            <footer class="hero__footer">
                <ul class="hero__social-list">
                    <li class="hero__social-item">
                        <a href="https://t.me/flayof" class="hero__social-link">
                            <img src="{% static 'images/hero/telegram.svg' %}" width="36" height="36" loading="lazy" alt="telegram" class="hero__social-image">
                        </a>
                    </li>
                </ul>

                <div class="hero__footer-titles">
                    <h1 class="hero__footer-title">
                        FLAY 2025
                    </h1>
                    <span class="hero__footer-subtitle hidden-mobile">FanClub Legends Awards Of The Year</span>
                </div>

                <div class="hero__date hidden-mobile">
                    <p>12.12.2025</p>
                </div>
            </footer>
        </div>
    </div>

    <div class="hero__shadow"></div>

    <div class="about" id="about">
        <div class="about__shadow"></div>
        <div class="about__inner">
            <h1 class="about__title">FanClub Legends Awards Of The Year</h1>
            <div class="about__description">
                <p>Главная премия ИПАИТа. Здесь определяются самые шумные представители Фан-Клуба. Стань частью истории и выбери тех, кто по-настоящему достоин стать победителем FLAY 2025</p>
            </div>
        </div>
    </div>

    <div class="nomination block container" id="nomination">
        <div class="nomination__inner block__inner">
            <header class="nomination__header block__header">
                <h1 class="nomination__header-title block__header-title">НОМИНАЦИИ</h1>
                <span class="nomination__header-decoration block__header-decoration">НОМИНАЦИИ</span>
            </header>

            <ul class="nomination__list">
                <div class="nomination__major-wrapper">
                    {% for award in awardsMajor %}
                        <li class=" nomination__item nomination__major" >
                            <div class="nomination__item-body">
                                <header class="nomination__item-header">
                                    <div class="nomination__title-wrapper">
                                        <h1 class="nomination__title">{{ award.name }}</h1>
                                        <img src="{{ award.icon.url }}" width="52" height="53" loading="lazy" alt="King" class="nomination__title-icon">
                                    </div>
                                    <div class="nomination__description">
                                        <p>{{ award.description }}</p>
                                    </div>
                                </header>

                                <div class="nomination__choice">
                                    {% if award.id in user_votes %}
                                        Выбор сделан: <img src="{% static 'images/nomination/checkmark.svg' %}" width="18" height="18" loading="lazy" alt="" class="nomination__choice-icon">
                                    {% else %}
                                        Выбор не сделан <img src="{% static 'images/nomination/cross.svg' %}" width="18" height="18" loading="lazy" alt="" class="nomination__choice-icon">
                                    {% endif %}
                                </div>

                                <a href="{% url 'nominees' slug=award.slug %}" class="button nomination__button">Голосовать</a>
                            </div>
                            <img src="{{ award.awardImage.url }}" width="423" height="471" loading="lazy" alt="" class="nomination__major-image">
                        </li>
                    {% endfor %}
                </div>

                <div class="nomination__minor-wrapper">
                    {% for award in awardsMinor %}
                    <li class="nomination__item" >
                        <div class="nomination__item-body">
                            <header class="nomination__item-header">
                                <div class="nomination__title-wrapper">
                                    <h1 class="nomination__title">{{ award.name }}</h1>
                                    <img src="{{ award.icon.url }}" width="52" height="53" loading="lazy" alt="King" class="nomination__title-icon">
                                </div>
                                <div class="nomination__description">
                                    <p>{{ award.description }}</p>
                                </div>
                            </header>

                            <div class="nomination__choice">
                                {% if award.id in user_votes %}
                                    Выбор сделан: <img src="{% static 'images/nomination/checkmark.svg' %}" width="18" height="18" loading="lazy" alt="" class="nomination__choice-icon">
                                {% else %}
                                    Выбор не сделан <img src="{% static 'images/nomination/cross.svg' %}" width="18" height="18" loading="lazy" alt="" class="nomination__choice-icon">
                                {% endif %}
                            </div>

                            <a href="{% url 'nominees' slug=award.slug %}" class="button nomination__button">Голосовать</a>
                        </div>
                    </li>
                    {% endfor %}
                </div>
            </ul>
        </div>
    </div>

    <div class="winner container block" id="winner">
        <div class="winner__inner block__inner">
            <header class="winner__header block__header">
                <h1 class="winner__header-title block__header-title">ПОБЕДИТЕЛИ</h1>
                <span class="winner__header-decoration block__header-decoration">ПОБЕДИТЕЛИ</span>
            </header>

            <ul class="winner__list">
                {% for winner in winners %}
                <li class="winner__item">
                    <img src="{{ winner.image.url }}" width="215" height="232" alt="" class="winner__image">
                    <div class="winner__body">
                        <span class="winner__suptitle">{{ winner.nominee }}</span>
                        <h1 class="winner__title"> {{ winner.award.name }}</h1>
                    </div>
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>
</main>

<footer class="footer container">
    <div class="footer__inner">
        <div class="footer__logo logo">
            <img src="{% static 'images/logo.svg' %}" width="32" height="35" loading="lazy" alt="" class="logo__image">
        </div>

        <div class="footer__sponsors">
            <p>FLAY 2025 • Eternity</p>
        </div>

        <ul class="footer__social-list">
            <li class="footer__social-item">
                <a href="https://t.me/flayof" class="footer__social-link">
                    <img src="{% static 'images/hero/telegram.svg' %}" width="36" height="36" loading="lazy" alt="" class="footer__social-image">
                </a>
            </li>
        </ul>
    </div>
{% endblock %}