@font-face {
  font-family: 'LemonMilk';
  src: url('../fonts/LEMONMILK-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LemonMilk';
  src: url('../fonts/LEMONMILK-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Racama';
  src: url('../fonts/Racama-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

